node_modules
.next
.env.local
.env
sa.json
.vercel
.next
.env.local
service-account.json
sa.base64
.env.local
.env*.local
service-account.json
sa.base64
.env.local
.vercel-bypass
tsconfig.tsbuildinfo
coverage/
coverage/**
lcov.info
README_badge.md
.nyc_output/
coverage/
coverage/**
lcov.info
README_badge.md
.nyc_output/
